body {
	/* margin: 0;
	padding: 0; */
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	max-width: 1020px;
    margin: auto;
	color: rgb(68, 66, 66);
}


/* - FOOTER - */
.foot-wrapper{
	display: flex;
    justify-content: center;
    align-items: baseline;
	flex-wrap: wrap;
	border-top: 1px solid lightgray;
}
.foot-wrapper ul{
	display: flex;
	justify-content: center;
}
.foot-wrapper li{
	list-style: none;		
}
.body-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* - FOOTER - */
.foot-wrapper{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
}


/* - FRONT PAGE - */
.front-page-wrapper{
	display: flex;
	flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.front-page-wrapper .content{
	/* 
	display: flex; 
	justify-content: center;
    align-items: center;
	*/
	text-align: center;
}
.front-page-wrapper .cta-Btn{
	width: 15rem;
    height: 5rem;
	border: 1px solid gray;
    border-radius: 20px;
	background-color: rgb(236, 236, 236);
    font-size: xx-large;
	box-shadow: 5px 5px 12px lightgray;
}

/* - CHECKOUT PAGE - */
.form-wrapper{
	display: flex;
    flex-flow: column;
	align-items: center;
    width: 100%;
    gap: 10px;
	margin: 20px 0;
}
.form-wrapper input{
	width: 50%;
}

/* - THANK YOU MSG - */
.thanks-wrapper{
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 5px 5px 12px lightgray;
	display: block;
	margin: 10px;
	width: auto;
	height: auto;
	text-align: center;
	padding: 10px;
}


/* =========== OLGA ========== */

header {
	display: block;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid lightgray;
}

/* meny, sociala länkar */
header li {
	list-style-type: none;
	display: list-item;
	margin-right: 35px;	
}

header li:hover {
	transform: scale(1.1);
	color: rgb(170, 170, 125);
}

.main-wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.main-wrapper ul {
	display: block;

}

li {
	list-style-type: none;
}

/* om oss */
.main-wrapper > div > h2, p {
	display: flex;
	justify-content: center;
	text-align: center;
}

/* nyheter title */
.news-title {
	width: 100%;
	text-align: center;
}

.news-title ul {
	padding: 10px;
	text-align: center;
}

/* empty cart/ checkout knappar*/
.main-wrapper > button {
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 5px 5px 12px lightgray;
	margin: 15px;
}

/* your total */
.main-wrapper > p {
	display: flex;
	align-items: center;
	justify-content: center;
	color: green;
	font-size: 20px;
	/* border: 1px solid lightgray;
	background-color: rgb(241, 237, 237); */
	box-shadow: 3px 3px 8px lightgray;
}

.checkout-cart-box {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout-cart-box > div {
	width: 240px;
	height: auto;
	display: block;
	text-align: center;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 12px lightgray;
	margin: 8px;
	border-radius: 5px;
}

.checkout-cart-box > div ul {
	padding: 8px;
}

.checkout-cart-box img {
	width: 150px;
	height: 140px;
}

.checkout-cart-box p {
	margin: 8px;
}

.checkout-cart-box > div button {
	left: 0;
	bottom: 0;
	width: 65%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 5px 5px 12px lightgray;
	margin-bottom: 15px;

}

.checkout-cart-box > div button:hover {
	transform: scale(1.1);
}

/* produkter*/
main .div-product {
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 5px 5px 12px lightgray;
	display: block;
	margin: 10px;
	width: 240px;
	height: 300px;
	text-align: center;
	color: rgb(89, 87, 87)	
}

.div-product img {
	text-align:  center;
}

.div-product p {
	text-align: center;
	margin: 8px;
}

.div-product button {
	left: 0;
	bottom: 0;
	width: 65%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 5px 5px 12px lightgray;
}

/* bilder på sidan om oss/ nyheter*/
figure img {
	width: 280px;
	height: 280px;
	border-radius: 50%;
}

/* text under bilder på sidan om oss*/
.wp-block-media-text__content {
	text-align: center;
}

.foot-wrapper {
	/* display: block; */
	/* position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(246, 243, 243); */
	border-top: 1px solid lightgray;
	
}

footer li {
	list-style-type: none;
	display: list-item;
	margin-right: 35px;	
}
footer li:hover {
	transform: scale(1.1);
	color: rgb(170, 170, 125);

}

footer a {
	text-decoration: none;
	color: rgb(68, 66, 66);
}



/*  ==========  Desktop ============  */

@media only screen and (min-width: 700px) {

 /* menu*/
header ul {
	display: flex;
	justify-content: center;
	padding: 8px;   
}

/* content */
.main-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-inline-start: 120px;
    margin-inline-end: 120px;
    font-size: 18px;
	padding-top: 10px;
	padding-bottom: 30px;	
}

/* nyheter title */
.main-wrapper > ul {
	display: block;
	text-align: center;	
}

/* produkter*/
main .div-product {
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: 5px 5px 12px lightgray;
	display: block;
	margin: 10px;
	width: 225px;
	height: 300px;		
}

.div-product button:hover {
	transform: scale(1.1);
}

/* empty cart/ checkout knappar*/
.main-wrapper > button:hover {
	transform: scale(1.1);
}

/* your total */
.main-wrapper > p {
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: rgb(68, 66, 66);
}

a:hover {
	transform: scale(1.1);
	color: rgb(170, 170, 125);
}

}